@media (prefers-color-scheme: dark) {
  :root {
    background: #121212;
    transition: ease 0.2s;
  }
  html {
    background: #121212;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background: #ffffff;
  }
}

.padding {
  padding: 14px;
  &.page {
    padding: 24px;
    padding-top: 30px;
    padding-bottom: 80px;
  }
  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
  }
}

.headingDisableMargin {
  margin-bottom: 0;
}
