@font-face {
  font-family: 'JetBrains Mono';
  src: url("/fonts/JetBrainsMono-Regular.woff") format('woff'),
  url("/fonts/JetBrainsMono-Regular.woff2") format('woff2'),
  url("/fonts/JetBrainsMono-Regular-2.ttf") format('ttf'),
}

:root {
  background: rgb(16, 16, 20);
  font-family: 'JetBrains Mono';
}

#editor {
    font-family: 'JetBrains Mono';
}